/*
===========================
    STANDARDS
===========================
*/

body
{
    padding: 0;
    margin: 0;
    border: solid 1px red;
}


/*
===========================
    NAVBAR
===========================
*/

.navbar
{
	margin-bottom: 0;
}

.navbar-child
{
    padding-left: 10px;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}

.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}

/*
===========================
    JUMBOTRON
===========================
*/


.jumbotron {
	background: #27A967;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}

btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #27A967;
	background-color: white;
	border-color: white;
}

/*
===========================
    CONTENT LAYOUT
===========================
*/

#page
{
    width: 1170px;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: solid 1px #666;
}

/*
===========================
    REQUIRED - DO NOT TOUCH
===========================
*/

.rich-text img
{
    max-width: 100%;
    height: auto;
}

.responsive-object
{
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}