{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

    {{ page.body|richtext }}

    <h2>Upcoming Events</h2>
    {% for post in events %}
            <hr>
            <h3><a href="">{{ post }}</a></h3>
            <!--<p>{{ post.start|date:_("DATETIME_FORMAT") }} - {{ post.end|date:_("DATETIME_FORMAT") }}</p>-->

    {% endfor %}

    <h2>News Feed</h2>
    {% for post in pages %}
        {% with post=post.specific %}
            <hr>
            <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
            <p>{{ post.intro }}</p>
        {% endwith %}
    {% endfor %}

{% endblock %}
