/*
===========================
    STANDARDS
        Dark Gray: #444444
        Teal: #0097BF ( Good against purple)
        blue: #0d79cc ( Good against darker bg)

        font-family: 'Great Vibes', cursive;
        font-family: 'Tangerine', cursive;
        font-family: 'Roboto', sans-serif;
===========================
*/

html,
body
{
    position: relative;
    height: 100%;
}

body
{
    padding: 0;
    margin: 0;
    background-color: #444444;
    color: #bebcbc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a
{
    color: #61acec;
    text-decoration: none;
}

a:focus, a:hover
{
    color: #8cbcea;
    text-decoration: underline;
}


a.linkBlock,
a.linkBlock:visited,
a.linkBlock:focus,
a.linkBlock:hover
{
    color: inherit;
}

p
{
    line-height: 1.5em;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.noUnderline,
.noUnderline:hover
{
    text-decoration: none;
}

.nopadding
{
    margin: 0;
    padding: 0;
}

.btn-default,
.btn-default:hover,
.btn-default:active
{
    color: white;
    background-color: transparent;
    border: none;
}

.btn-default:hover
{
    color: #0097BF;
}

.responsive
{
    width: 100%;
    height: auto;
}

h1,h2,h3,h4
{
    color: #fcfeff;
}


/*
===========================
    NAVBAR
===========================
*/

.navbar
{
	margin-bottom: 0;
}

.navbar-child
{
    padding-left: 10px;
}

.navbar-inverse
{
	background: #2E2F31;
	border: 0;
}

.navbar-inverse a,
.navbar-inverse .navbar-nav li a
{
	color: #9d9d9d;
	text-decoration: none;

}

.navbar-inverse .navbar-nav li a:hover
{
	background: #000;
}

.navbar-form .form-control
{
    background-color: #444;
}

.navbar-inverse .navbar-nav>.active>a
{
    background: none;
}

.dropdown-menu
{
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}

.dropdown-menu li a
{
	padding: 10px;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover
{
	background-color: #1b3154;
}

/*
===========================
    BANNERS (BLOG / EVENTS)
===========================
*/

.banner
{
    border: solid 1px #272727;
    border-radius: 5px;
}

/*
===========================
    CONTENT LAYOUT
===========================
*/

#page
{
    padding: 10px;
}

#page>h1
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #61acec;
    font-size: 55px;
    text-shadow: 2px 2px #0e0e0e;
}

a.bpTitle,
a.bpTitle:focus,
a.bpTitle:visited,
a.bpTitle:hover
{
    display: block;
    font-size: 30px;
    float: left;
    padding-right: 20px;
    border-right: solid 1px #61acec;
    margin-right: 20px;
    color: #61acec;
    text-decoration: none;
}

#content
{
    padding: 20px;
}

.tags
{
    margin: 0 20px;
    padding: 10px;
    border: solid 1px #61acec;
}

.tags h3
{
    margin-top: 0;
}

/*
===========================
    SQUARES
===========================
*/
.square
{
    border-bottom: solid 1px #bebcbc;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.square a
{
    color: inherit;
}

.square .imgPlaceholder
{
    display: block;
    width: 160px;
    min-height: 1px;
    margin-right: 10px;
}

.squareContent
{
    padding: 0 5px;
}

.squareContent h2
{
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

/*
===========================
    FOOTER
===========================
*/
.footer
{
    background-color: #2E2F31;
    border-top: solid 1px #61acec;
    width: 100%;
}

.firstMenu,
.secondMenu
{
    margin-right: 40px;
}

.footer ul
{
    padding-left: 0;
}

.footer ul ul
{
    margin: 0;
    padding: 0;
}

.footer li
{
    list-style: none;
}

.miniFooter
{
    font-size: 12px;
    color: #beaf9d;
    text-align: center;
    padding-bottom: 10px;
}

/*
===========================
    REQUIRED - DO NOT TOUCH
===========================
*/

.rich-text img
{
    max-width: 100%;
    height: auto;
}

.responsive-object
{
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}