{% load menu_tags wagtailcore_tags %}

<nav id='mainNavBar' class="navbar navbar-expand-lg navbar-inverse sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in menu_items %}
                    <li class="nav-item {{ item.active_class }} {% if item.has_children_in_menu %}dropdown{% endif %}">
                        <a href="{{ item.href }}"
                           class="nav-link {% if item.has_children_in_menu %}dropdown-toggle{% endif %}"
                            {% if item.has_children_in_menu %}
                                id="ddtoggle_{{ item.link_page.pk }}"
                                role="button"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"
                            {% endif %}>
                            {{ item.text }}{% if item.has_children_in_menu %} <span class="caret"></span>{% endif %}
                        </a>
                        {% if item.has_children_in_menu %}
                            {% sub_menu item template="menus/main/children_menu.html" %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <form class="navbar-form navbar-right" role="search" action="{% url 'search' %}" method="get">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search…" value="{{ search_query }}" />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
</nav>