
    .table
    {
        display: flex;
        flex-flow: column;
    }
    .table__header
    {
        display: flex;
        flex-flow: row;
    }
    .table__body
    {
        display: flex;
        flex-flow:column;
    }
    .table__row
    {
        display: flex;
        flex-flow:row;
    }
    .table__header
    {
        font-weight: bold;
    }

    .table__item
    {
        flex: 1;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .table__item:first-child
    {
        flex:2;
        text-align: left;
    }

    .table__header .table__item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #2a2a2a;
    }

    .table__header .table__item:first-child
    {
        justify-content: left;
    }

    .table input
    {
        background-color: #444;
        padding: 5px;
        border: 1px solid #bebcbc;
    }

    .table input::placeholder
    {
        color: white;
    }

    .table__header img.sortIcon
    {
        width: 23px;
        margin-left: 10px;
    }