{% load static wagtailuserbar theworst_tags %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/theworst.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto|Tangerine" rel="stylesheet">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_head %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}


        <div id='page'>

            {% block jumbotron %}{% endblock %}


            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        {% block leftContent %}{% endblock %}
                    </div>
                    <div class="col-md-10">
                        {% block content %}{% endblock %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>

        </div>

        {% wagtailuserbar %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/theworst.js' %}"></script>
        <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
