{% load static wagtailuserbar menu_tags %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>

        <!--favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/theworst.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto|Tangerine" rel="stylesheet">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_head %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% main_menu %}

        <div id='page' class='contentWidth'>
            <h1 class='nopadding'>
                <a href='/' class="bpTitle">Buermann<br />Presents</a> {% block pageTitle %}{% endblock %}
            </h1>

            {% block jumbotron %}{% endblock %}

            <div class="container">
                <!-- Main Content -->
                {% block content %}{% endblock %}
                {% block body %}{% endblock %}

                <!-- Grid Content -->
                <div class="row">
                    <div class="col-md-3">
                        {% block leftContent %}{% endblock %}
                    </div>
                    <div class="col-md-9">
                        {% block rightContent %}{% endblock %}
                    </div>
                </div>
            </div>

        </div>

        {% wagtailuserbar %}

        {# Global javascript #}
        <script src="{% static 'js/theworst.js' %}"></script>
        <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
