.card
{
    position: relative;
    border: solid 1px #60acec;
    margin: 10px 20px 10px 0;
    min-width: 270px;
    transform: rotate(-2deg);
    flex: 1;
}

.card__title
{
    padding: 10px;
    margin: 0;
    background-color: #60acec;
    font-weight: bolder;
    color: #333;
    font-size: 20px;
}

.card__content
{
    padding: 10px;
}