{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block pageTitle %}Similar Content{% endblock %}

{% block content %}

    {% if request.GET.tag|length %}
        <h2>Showing pages tagged "{{ request.GET.tag }}"</h2>
    {% endif %}

    {% for blogpage in blogpages %}
        <h3><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h3>
        <small>Revised: {{ blogpage.latest_revision_created_at }}</small><br />
    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}