{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

<!--# Load in OWL Carousel-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static "/owl.carousel/dist/assets/owl.carousel.min.css" %}" />
    <link rel="stylesheet" href="{% static "/owl.carousel/dist/assets/owl.theme.default.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Events.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "owl.carousel/dist/owl.carousel.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                items : 3,
                margin: 10,
                nav : false,
                loop : false,
                autoWidth:true,
            });
        });
    </script>
{% endblock %}

{% block body_class %}template-eventpage{% endblock %}

{% block pageTitle %}
{{ page.title }}

<p class="meta">
    {{ page.location }}<br />
    {{ page.start }} - {{ page.end }} <br />
    <a href="{{ page.facebook }}">View on Facebook</a>
</p>
{% endblock %}


{% block banner %}
{% with page.banner as banner %}
    {% if banner %}<div class="banner">{% image banner max-1150x250 class='responsive' %}</div>{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
    <h2 class="questionHeader">Where?</h2>
    <p>{{ page.location }}</p>

    <h2 class="questionHeader">When?</h2>
    <p>{{ page.start }} - {{ page.end }}</p>

    <h2 class="questionHeader">What is it?</h2>
    {% for block in page.content %}

        {% if block.block_type == 'sub_heading' %}
            <h3>{% include_block block %}</h3>
        {% endif %}

        {% if block.block_type == 'paragraph' %}
            {% include_block block %}
        {% endif %}

        {% if block.block_type == 'gallery' %}
            {% include_block block %}
        {% endif %}

    {% endfor %}

    {% if page.vue.markup %}
        <h3>Our Games!</h3>
        {{ page.vue.markup }}
    {% endif %}

    <p class="allEventsWrapper"><a href="{{ page.get_parent.url }}"  class="allEventsLink">See all Events</a></p>

{% endblock %}

{#
VUE
 I need to create a dummy page for testing Vue components while I'm working on them, so I can then copy paste the template in where I need it
 I don't like how I did it... but it works.
#}